
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
     background: #fff;
/*
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)

    );
    background-attachment:fixed;
*/
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}




h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}










body,td,select,input,textarea {

font-family: Arial;
font-size: 13px;
color: #000000;

}


td{
padding:2px;
}



input {
background-color:#fff ;
border-right:2px solid #444;
border-bottom:2px solid #444;
border-top:1px solid #999;
border-left:1px solid #999;
height:22px;
padding:3px;
-webkit-border-radius:5px;-moz-border-radius:5px; border-radius: 8px;
}

select {
background-color:#fff ;
border-right:2px solid #444;
border-bottom:2px solid #444;
border-top:1px solid #999;
border-left:1px solid #999;
height:30px;
padding:3px;
-webkit-border-radius:5px;-moz-border-radius:5px; border-radius: 8px;
}

.radio] {
height:40px;
width:40px;
}

form {
margin: 0px;
}


a {
color: #000099;
text-decoration: underline;
}



a:hover {
text-decoration: none;
}



.botoes {
height:35px;
padding:5px;
-webkit-border-radius:5px;-moz-border-radius:5px; border-radius: 5px;
background-color:#63886F;
color:#fff;
font-weight:bold;
font-size:15px;
cursor: pointer;
}




.input_gr {
background-color:#fff ;
border-right:2px solid #444;
border-bottom:2px solid #444;
border-top:1px solid #999;
border-left:1px solid #999;
height:40px;
padding:3px;
-webkit-border-radius:5px;-moz-border-radius:5px; border-radius: 8px;
width:90%;
font-size:18px;
}





.navbutton {
padding-left: 5px;
padding-right: 9px;
padding-top: 10px;
padding-bottom: 13px;
height: 38px;
color: #fff;
font-weight: bold;
font-size: 14px;
font-family: Arial;
text-align: center;
border-top: 1px solid #ffffff;
border-right: 1px solid #ffffff;
cursor: pointer;
cursor: hand;
text-transform: uppercase;
}



.navbuttonover {
padding-left: 5px;
padding-right: 9px;
padding-top: 10px;
padding-bottom: 13px;
height: 38px;
color: #D2E2D8;
font-weight: bold;
font-size: 14px;
font-family: Arial;
text-align: center;
border-top: 1px solid #ffffff;
border-right: 1px solid #ffffff;
cursor: pointer;
cursor: hand;
text-transform: uppercase;
background-color: #63886F;
}




.cab_grid{
 background:#000;
 color:#fff;
 height: 22px;
 padding: 5px;
}

.cel_grid{
 padding: 5px;
}


.itemcancelado{
filter:opacity(alpha=30);-moz-opacity:0.3;  opacity:0.3;
 background:#999;
}

.cabtd1{
padding:2px; padding-left:10px; height:70px; width:200px; float:left;
}

.cabtd2{
padding:2px; padding-left:10px;float:left;
padding-top:20px;
font-size:18px; color:#466B53; font-family:Arial;
}

.cabtd3{
padding:2px; padding-left:10px;float:left;
padding-top:20px;
text-align:right;
margin-left:50px;
}

.logo_cab{
height:55px;
width:auto;
}

.logtd{
padding-top:20px; padding-left:13px; padding-bottom:13px; background:#D2E2D8;
}

.paddpgint{
padding:20px; background:#fff;
}


#gridPed{
width:100%; list-style: none; margin:0px; padding:0px; 
}

#gridPed li{
position: relative; float: left; padding:3px; padding-top:5px; padding-bottom:5px;  margin:0px; text-align:left; border-right:1px solid #ccc; border-bottom:1px solid #ccc;
}

#div_lembrar_senha1{
 width:310px; background:#D2E2D8;
}
#div_lembrar_senha{
 width:310px; background:#D2E2D8;
}

#gridPed .first{
border-left:1px solid #ccc;
}

#gridPed .gridPedCel1{
width:10%; clear:both;
}

#gridPed .gridPedCel2{
width:78%;  
}

#gridPed .gridPedCel3{
width:8%; 
}

#gridPed .gridPedCab{
background:#D2E2D8; font-weight:bold; border-right:1px solid #fff;
}






.gridPedServTd{
padding:10px; padding-bottom:20px; border:1px solid #ccc;
}

#gridPedServ{
width:100%; list-style: none; margin:0px; padding:0px;  
}

#gridPedServ li{
position: relative; float: left; padding:3px; padding-top:5px; padding-bottom:5px;  margin:0px; text-align:left;
}


#gridPedServ .gridPedServCel1{
width:99%; 
}

#gridPedServ .gridPedServCel2{
width:99%;
}

#gridPedServ .gridPedServCel3{
width:99%; 
}

#gridPedServ .gridPedServCab{
background:#D2E2D8;  border-right:1px solid #fff;height: 22px;
}

#divPedTokQr{
clear:both;
}

.divPedServImg{
padding:3px; padding-bottom:8px; width:200px; float:left; margin-right:10px; margin-bottom:10px; border: 1px solid #ccc; text-align:center;
}

.pedlauVisbaix{
text-decoration:none; font-weight:bold; font-size:20px;
}


.tit {

padding:0px;
height: 26px;
color: #00;
font-size: 18px;
font-weight: bold;
text-transform: uppercase;
padding-top:5px;
}


.padlat {
padding-left:10px;
}

.lispedBoxPed{
width:300px; float:left; padding:7px; margin-right:10px; margin-bottom:20px; border: 1px solid #ccc; -webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;
}


.lispedPacLinha{
clear:both;
}

.lispedPac{
font-weight:bold; float:left;  font-size:11px;
}
.lispedPac2{
font-weight:normal;
font-size:11px;
}

.lispedDent{
font-weight:bold; float:left; font-size:11px;
}
.lispedDent2{
font-weight:normal;
font-size:11px;
}

.lispedData{
font-weight:bold; float:left; font-size:11px;
}
.lispedData2{
font-weight:normal;
font-size:11px;
}

.lispedSta{
font-weight:bold; float:left; font-size:12px;  height:30px; padding-top:5px;
}
.lispedSta2{
height:30px;
}


.lispedDet{
clear:both;
}





.lispacBox{
width:300px; float:left; padding:7px; margin-right:10px; margin-bottom:20px; border: 1px solid #ccc; -webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;
}


.lispacLinha{
clear:both;
}

.lispacPac{
font-weight:bold; float:left;  font-size:11px;
}
.lispacPac2{
font-weight:normal;
font-size:11px;
}


.lispacEmail{
font-weight:bold; float:left;  font-size:11px;
}
.lispacEmail2{
font-weight:normal;
font-size:11px;
}

.lispacTel{
font-weight:bold; float:left;  font-size:11px;
}
.lispacTel2{
font-weight:normal;
font-size:11px;
}


.lispacWhat{
font-weight:bold; float:left;  font-size:11px;
}
.lispacWhat2{
font-weight:normal;
font-size:11px;
}